h1{
    text-align: center;
    position: relative;
}
table{
    width: 100%;
    table-layout: fixed;
}
.fixbox{
    border: 1;
    width: 100%;
    height: 100%;
    top: 5px;
    position: sticky;
    color: #fff;
    background: #333;
    z-index: 1;
}
.calbox{
    width: 100%;
    padding-top: 15%;
    table-layout: fixed;
    position: relative;
    text-align: center;
}
label{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: #ecc09630;
}
label span:hover{
    cursor: pointer;
}
input[type="checkbox"]{
    display: none;
    width: 100%;
    height: 100%;
}
.day{
    width: 100%;
    position: absolute;
    right: 0%;
    top: 0%;
    text-align: right;
}
.cal-task{
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    height: 75%;
    overflow: scroll;
    text-align: center;
    display: inline-block;
}
.todo{
    display: inline-block;
    width: 100%;
    text-align: center;
    overflow: scroll;
}
.task-name{
    display: inline-block;
    overflow: scroll;
    box-sizing: border-box;
}
.checkbox{
    display: inline-block;
    left: 5%;
    content: '';
    width: 2vw;
    height: 2vw;
    border: 1px solid #9c9c9c;
    border-radius: 50%;
    box-sizing: border-box;
}
.check{
    content: '';
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 30%;
    width: 10px;
    height: 5px;
    border-left: solid #25AF01;
    border-bottom: solid #25AF01;
    transform: rotate(-45deg);
    box-sizing: border-box;
}
#popup{
    width: 100%;
    height: 100%;
    background: none;
    box-sizing: border-box;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}
/*checkboxがcheckの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + #popup{
    display: block;
}
.popup-box{
    width: 50%;
    line-height: 100%;
    height: 50%;
    background: #fff;
    border: 5px solid #000;
    border-radius: 10px;
    padding: 0 4%;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 5;
}
.popup-todo{
    width: 100%;
    position: relative;
    height: 65%;
    overflow: scroll;
    text-align: center;
    display: inline-block;
}
.before-btn, .next-btn{
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    content: '';
}
.before-btn{
    left: 20%;
}
.next-btn{
    right: 20%;
}