{% load static %}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body class="container">
    <form action="{% url 'delete_todo' id %}" method="post">
        {% csrf_token %}
        <table class="table" height="50%">
            <tr>
                <th>end</th>
                <td>{{ obj.end }}</td>
            </tr>
            <tr>
                <th>task</th>
                <td>{{ obj.task }}</td>
            </tr>
            <tr>
                <th>limit</th>
                <td>{{ obj.limit }}</td>
            </tr>
            <tr>
                <th>memo</th>
                <td>{{ obj.memo }}</td>
            </tr>
        </table>
        <h2>※このtaskを削除します</h2>
        <tr><th></th><td>
            <input type="button" onclick="history.back()" value="戻る" class="btn btn-primary mt-2">
            <input type="submit" value="削除" class="btn btn-primary mt-2">
        </td></tr>
    </form>
</body>
</html>