{% extends 'all_list/create.html' %}

{% block title %} home {% endblock %}

{% block content %}
    <div class="bg-light">
        <h1 class="my-3 text-center">
            home
        </h1>
        <div class="float-right">
            {% if user.is_authenticated %}
            <h3>
                {{ user.get_username }}
                <button onclick="location.href='{% url 'show_cal' year month %}'" class="btn btn-info">カレンダーへ</button>
            </h3>
            {% else %}
            <h3>
                Guest
                <button onclick="location.href='{% url 'login' %}'" class="btn btn-info">Login</button>
                <button onclick="location.href='{% url 'signup' %}'" class="btn btn-info">Sign Up</button>
            </h3>
            {% endif %}
        </div>
    </div>
{% endblock %}