{% load static %}
<!DOCTYPE html>
<html lang="jp"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>all_list</title>
</head>

<body>
    <div class="container">
        <h1 class="my-3">
            {{ year }} / {{ month }}
            <div class="float-right">
                <button onclick="location.href='{% url 'logout' %}'" class="btn btn-info btn-lg">logout</button>
            </div>
        </h1>
    </div>
    <div>
        <table class="fixbox", border="1">
            <tr>
                <th>
                    <p align="center">
                        Su
                    </p>
                </th>
                <th>
                    <p align="center">
                        Mo
                    </p>
                </th>
                <th>
                    <p align="center">
                        Tu
                    </p>
                </th>
                <th>
                    <p align="center">
                        We
                    </p>
                </th>
                <th>
                    <p align="center">
                        Th
                    </p>
                </th>
                <th>
                    <p align="center">
                        Fr
                    </p>
                </th>
                <th>
                    <p align="center">
                        Sa
                    </p>
                </th>
            </tr>
        </table>
        <table border="1" , width="100%">
            {% for data in monthly_calendar %}
            <tr class="calrow">
                {% for day, todo in data %}
                <td class="calbox">
                    {% if day != '' %}
                    <label>
                        <span>
                            <p>
                                <span class="day">
                                    {{ day }}
                                </span>
                                <div class="cal-task">
                                    {% for task in todo %}
                                    {% if task.0 != '' %}
                                    <span class="todo">
                                        <span class="checkbox">
                                            {% if task.2 == True %}
                                            <span class="check"></span>
                                            {% endif %}
                                        </span>
                                    {{ task.0 }}
                                    </span>
                                    {% else %}
                                    <span class="todo"></span>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </p>
                        </span>
                        <input type="checkbox" name="checkbox">
                        <div id="popup">
                            <div class="popup-box">
                                <p>
                                    <h1>
                                        {{ day }}日
                                    </h1>
                                    <div class="popup-todo">
                                        {% for task in todo %}
                                        {% if task.0 != '' %}
                                        <h3>
                                        <span class="todo">
                                            <span class="checkbox">
                                                {% if task.2 == True %}
                                                <span class="check"></span>
                                                {% endif %}
                                            </span>
                                                {{ task.0 }}
                                            <button onclick="location.href='{% url 'edit' task.1 %}'" class="btn btn-outline-primary btn-sm float-right">edit</button>
                                            <button onclick="location.href='{% url 'delete' task.1 %}'" class="btn btn-outline-danger btn-sm float-right">delete</button>
                                        </span>
                                        </h3>
                                        {% else %}
                                        <span class="todo">
                                            <h3>
                                                taskは登録されていません
                                            </h3>
                                        </span>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </p>
                                <div>
                                    <button onclick="location.href='{% url 'create' %}'" class="btn btn-secondary rounded-circle p-0 btn-lg" style="width:3rem;height:3rem;">＋</button>
                                </div>
                            </div>
                        </div>
                    </label>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <br>
    </div>
    <div class="container">
        <h1 class="my-3">
            <span class="before-btn">
                <button onclick="location.href='{% url 'show_cal' before_year before_month %}'" class="btn btn-outline-info">before</button>
            </span>
            <button onclick="location.href='{% url 'create' %}'" class="btn btn-secondary rounded-circle p-0 btn-lg" style="width:3rem;height:3rem;">＋</button>
            <span class="next-btn">
                <button onclick="location.href='{% url 'show_cal' next_year next_month %}'" class="btn btn-outline-info">next</button>
            </span>
        </h1>
    </div>
</body>
</html>