{% extends 'all_list/create.html' %}

{% block title %} login {% endblock %}

{% block content %}
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" class="btn btn-info">
        <input type="hidden" name="next" value="{% url 'home' %}">
        or <button onclick="location.href='{% url 'signup' %}'" class="btn btn-info">Sign Up</button>  
    </form>
    <p></p>
    <button onclick="location.href='{% url 'home' %}'" class="btn btn-info">Homeへ</button>
{% endblock %}