{% extends 'all_list/create.html' %}

{% block title %} signup {% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sign Up" class="btn btn-info">
        or <button onclick="location.href='{% url 'login' %}'" class="btn btn-info">Login</button>
    </form>
    <p></p>
    <button onclick="location.href='{% url 'home' %}'" class="btn btn-info">Homeへ</button>
{% endblock %}